<a href="https://colab.research.google.com/github/varsha-69/V/blob/main/Assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a, b, c=5, 10, 15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x=5
name="varsha"
temperature=6.2
subjects=["maths","english","science","social"]
marks={
    "maths":25,
    "english":30,
    "science":35,
    "social":40,
}
print(type(x))
print(type(name))
print(type(temperature))
print(type(subjects))
print(type(marks))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'dict'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
x=int(input("value of x="))
y=int(input("value of y="))
print("Addition",x+y)
print("Subtrationtion",x-y)
print("Multiplication",x*y)
print("Division=",x/y)

value of x=5
value of y=2
Addition 7
Subtrationtion 3
Multiplication 10
Division= 2.5

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
string="123"
integer_var=int(string)
float_var=float(string)
print(string,"=",type(integer_var))
print(float_var,"=",type(float_var))

123 = <class 'int'>
123.0 = <class 'float'>

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
input_string=input("Enter input:")
print("First character",input_string[0])

Enter input:varsha
v

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
input_string=input("Enter input:")
print("length=", len(input_string))

Enter input:varsha
length= 6

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
input_string=input("Enter input:")
if input_string.isalpha():
  print("Contains only alphabets")
else:
  print("The given string has other characters too.")

Enter input:va12
The given string has other characters too.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
string1=input("Enter the string 1:")
string2=input("Enter the string 2:")
print(string1+string2)

Enter the string 1:var
Enter the string 2:sha
varsha

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
string=input("Enter string:")
print(string.find("abc"))

4

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
string=input("Enter input:")
print("Upper Case:",string.upper())
print("Lower Case:",string.lower())

Upper Case: VARSHA
Lower Case varsha

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
count=0
var=input("Enter input:")
character=input("Enter the character to be searched:")
for i in var:
    if i in character:
        count=count+1
print(character,"occurs",count,"times")

a occurs 0 times

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
user_name=str(input())
print("Hello,",user_name,", Good Morning")

Hello, Varsha , Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
x=int(input("Enter 1st value:"))
y=int(input("Enter 2nd value:"))
print(x+y)

7

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
user_input=input("Enter name and age:")
name, age=user_input.split()
print("Name:",name,"\nAge:",age)

Name: varsha
 Age: 20

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=int(input("Enter a number:"))
if num>0:
    print("Input is Positive")
elif num<0:
    print("Input is negative")
else:
    print("Input is equal to zero")

Input is equal to zero

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
a=int(input("Enter values of a:"))
b=int(input("Enter values of b:"))
c=int(input("Enter values of c"))
print(f"Maximum of {a,b,c} is",max(a,b,c))

Maximum of (4, 7, 9) is 9

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("Enter a year:"))
if year%400==0:
    print(f"{year} is a leap year")
elif year%4==0 and year%100!=0:
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

1000 is not a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
number=int(input("Enter the number:"))
if number%3==0 and number%5==0:
    print(f"The number {number} is divisible with both 3 and 5")
else:
    print(f"The nubmer {number} is not divisible with both 3 and 5")

The number 30 is divisible with both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
pallin=input("Enter the string:")
pallin_reverse=''.join(reversed(pallin))
if pallin== pallin_reverse:
    print("The given string is a pallindrome string")
else:
    print("The given string is not a pallindorme string")

lalal
The given string is a pallindrome string

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i=1
while i<=20:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
table_input=int(input("Enter the number for which the table has to be generated:"))
for i in range(1,11):
    print(f"{table_input}*{i}={table_input*i}")

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n=int(input("Enter the n value:"))
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
print(f"The sum of 1 to {n} is", sum)

The sum of 1 to 5 is 15

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n=int(input("Enter the n value:"))
i=1
fact=1
while i<=n:
    fact*=i
    i+=1
print(f"The sum of 1 to {n} is", fact)

The sum of 1 to 5 is 120

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n=int(input("Enter the valuse of n:"))
a=0
b=1
print(a,b,end=" ")
count=2
while count!=n:
    c=a+b
    print(c, end=" ")
    count+=1
    a=b
    b=c

0 1 1 2 3 5 8 13 21 34

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
def prime(n):
    count=0
    for i in range(2,n):
        if n%i==0:
            count+=1
    if count==0:
        return True
    else:
        return False

def main():
    for i in range(1,101):
        if prime(i):
            print(i)

main()

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
list_num=[20,16,25,48,69,50]
for i in list_num:
  if i>50:
    print("Breaks out of the loop since value greater than 50 was found")
    break
  else:
    print(i,"Less than 50")

20 Less than 50
16 Less than 50
25 Less than 50
48 Less than 50
Breaks out of the loop since value greater than 50 was found

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
i=1
while i<=20:
    if i%2!=0:
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
count=0
var=input("Enter input:")
character=input("Enter the character to be searched:")
for i in var:
    if i in character:
        count=count+1
print(character,"occurs",count,"times")

Enter input:varsha
Enter the character to be searched:v
v occurs 1 times

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
n=input("Enter the number:")
sum=0
n=str(n)
for i in n:
    sum=sum+int(i)
print("Sum=",sum)

Sum= 9

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
list_num=[1,2,3,4,5,6,7,8,9,10]
print(sum(list_num))

55

In [ ]:
# Write a Python program to find the largest element in a list.
list_num=[1,2,3,4,5,6,7,8,9,10]
print(max(list_num))

10

In [ ]:
# Write a Python program to reverse a list.
list_num=[1,2,3,4,5,6,7,8,9,10]
print(list_num[::-1])

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
list_num=[1,2,3,4,5,6,7,8,9,10]
list_num.remove(5)
print(list_num)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
# Write a Python program to find the index of an element in a list.
list_num=[1,2,3,4,5,6,7,8,9,10]
print(list_num.index(5))

4

In [ ]:
# Write a Python program to find if a specific element exists in a list.
list_num=[1,2,3,4,5,6,7,8,9,10]
if 11 in list_num:
  print("Element exists in list")
else:
  print("Element doesn't exist in list")

Element doesn't exist in list

In [ ]:
# Write a Python program to remove duplicates from a list.
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list

duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
list_num=[1,2,3,4,5,6,7,8,9,10,6,3,5,7,8,1,7,2,5,2,4]
print("5 occurs",list_num.count(5),"times in the list")

5 occurs 3 times in the list

In [ ]:
# Write a Python program to get the number of even numbers in a list.
list_num=[1,2,3,4,5,6,7,8,9,10,6,3,5,7,8,1,7,2,5,2,4]
for i in list_num:
  if i%2==0:
    print(i)

2
4
6
8
10
6
8
2
2
4

In [ ]:
# Write a Python program to create a tuple and print it.
tuple_num=(1,2,3,4,5,6,7,8,9,10,6,3,5,7,8,1,7,2,5,2)
print(tuple_num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 3, 5, 7, 8, 1, 7, 2, 5, 2)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.
tuple_num=(1,2,3,4,5,6,7,8,9,10,6,3,5,7,8,1,7,2,5,2)
list_convert=list(tuple_num)
print(list_convert,"Tuple Converted to list")
tuple_num=tuple(list_convert)
print(tuple_num,"List converted to Tuple")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 3, 5, 7, 8, 1, 7, 2, 5, 2] Tuple Converted to list
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 3, 5, 7, 8, 1, 7, 2, 5, 2) List converted to Tuple

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
tuple_num=(1,2,3,4,5,6,7,8,9,10,6,3,5,7,8,1,7,2,5,2)
print("Maximum in given tuple:",max(tuple_num))
print("Minimum in given tuple:",min(tuple_num))

Maximum in given tuple: 10
Minimum in given tuple: 1

In [ ]:
# Write a Python program to unpack a tuple into variables.
tuple_data=(10,"Student",20)
standard, occupation, id=tuple_data
print(standard)
print(occupation)
print(20)

10
Student
20

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
set_eles={10,20,30,40,50}
print("Before adding the element to the set:",set_eles)
set_eles.add(60)
print("After adding the element to the set:",set_eles)

Before adding the element to the set: {50, 20, 40, 10, 30}
After adding the element to the set: {50, 20, 40, 10, 60, 30}

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
dict_val={
    "Name":"Varsha",
    "Age":19,
    "Gender":"Female",
    "Occupation":"Student"
}
print(dict_val)

{'Name': 'Varsha', 'Age': 19, 'Gender': 'Female', 'Occupation': 'Student'}

In [ ]:
# Write a Python program to access a dictionary value using a key.
dict_val={
    "Name":"Varsha",
    "Age":19,
    "Gender":"Female",
    "Occupation":"Student"
}
print(dict_val['Name'])

Varsha

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
dict_val={
    "Name":"Varsha",
    "Age":19,
    "Gender":"Female",
    "Occupation":"Student"
}
if 'Name' in dict_val:
  print("The key exists in the dictionary")
else:
  print("The key does not exist in the dictionary")

In [ ]:
# Write a Python program to merge two dictionaries.
dict1={
    "Name":"Varsha",
    "Age":19,
}
dict2={
    "Gender":"Female",
    "Occupation":"Student"
}
dict1.update(dict2)
print(dict1)

{'Name': 'Varsha', 'Age': 19, 'Gender': 'Female', 'Occupation': 'Student'}

In [ ]:
# Write a Python program to remove a key from a dictionary.
dict_val={
    "Name":"Varsha",
    "Age":19,
    "Gender":"Female",
    "Occupation":"Student"
}
del dict_val['Age']
print(dict_val)

{'Name': 'Varsha', 'Gender': 'Female', 'Occupation': 'Student'}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
dict_val={
    "Name":"Varsha",
    "Age":19,
    "Gender":"Female",
    "Occupation":"Student"
}
print("The size of dictionary is",len(dict_val))

The size of dictionary is 4

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
marks={
    "English":80,
    "Maths":78,
    "Social":74,
    "Science":45,
    "Computer":62
}
marks_list=marks.values()
print("The largest values in dict are:",max(marks_list))

The largest values in dict are: 80

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.
def square(n):
  return n*n

def main():
  n=int(input("Enter the number:"))
  print(square(n))

main()

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.
def sum(a,b):
  return a+b

def main():
  a=int(input("Enter the number a:"))
  b=int(input("Enter the number b:"))
  print(sum(a,b))

main()

Enter the number a:5
Enter the number b:9
14

In [ ]:
# Write a Python function to check if a given number is prime.
def prime(n):
  for i in range(2,n):
    if n%i==0:
      return False
  return True

def main():
  n=int(input("Enter the number:"))
  if prime(n):
    print("The number is prime")
  else:
    print("The number is not prime")

main()

Enter the number:7
The number is prime

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.
def fact(n):
  if n==0:
    return 1
  return n*fact(n-1)

def main():
  n=int(input("Enter the number:"))
  print(fact(n))

main()

Enter the number:8
40320

In [ ]:
# Write a Python function to calculate the power of a number using recursion.
def power(a,b):
  if b==0:
    return 1
  return a*power(a,b-1)

def main():
  a=int(input("Enter the number a:"))
  b=int(input("Enter the number b:"))
  print(power(a,b))

main()

Enter the number a:7
Enter the number b:2
49

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def length(list_num):
  count=0
  for i in list_num:
    count+=1
  return count

def main():
  str=input("Enter the list:")
  list_num=str.split()
  print(length(list_num))

main()

Enter the list:4 7 8 2 6 4 9 3
8

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum(*args):
  sum=0
  for i in args:
    sum+=i
  return sum

def main():
  a=int(input("Enter the number a:"))
  b=int(input("Enter the number b:"))
  print(sum(a,b))

main()

Enter the number a:5
Enter the number b:4
9

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def max_val(a,b):
  return max(a,b)

def main():
  print(max_val(a=5,b=9))

main()

9

In [2]:
# Write a Python function that accepts a list of numbers and returns their product.
def product(list_num):
  product=1
  for i in list_num:
    product*=i
  return product

def main():
  str=input("Enter the list:")
  list_num=str.split()
  list_num=[int(i) for i in list_num]
  print(product(list_num))

main()

Enter the list:4 7 8 9 6
12096

In [3]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def even_odd(n):
  if n%2==0:
    print("The number is even")
  else:
    print("The number is odd")

def main():
  n=int(input("Enter the number:"))
  even_odd(n)

main()

Enter the number:5
The number is odd

In [5]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
def square(n):
  return n*n

def main():
  list_num=[1,2,3,4,5,6,7,8,9,10]
  list_square=[square(i) for i in list_num]
  print(list_square)

main()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
def main():
  str=input("Enter the list:")
  list_num=str.split()
  list_num=[int(i) for i in list_num]
  list_even=[i for i in list_num if i%2==0]
  print(list_even)

main()

Enter the list:4 5 8 7 9
[4, 8]

In [9]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
def length(list_words):
  list_new=[]
  for i in list_words:
    if len(i)>4:
      list_new.append(i)
  return list_new

def main():
  str=input("Enter the string:")
  list_words=str.split()
  print(length(list_words))

main()

Enter the string:to press someone's throat very tightly so that they cannot breathe
['press', "someone's", 'throat', 'tightly', 'cannot', 'breathe']

In [11]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
def length(list_words):
  list_new=[]
  for i in list_words:
    if i.isupper():
      list_new.append(i)
  return list_new

def main():
  str=input("Enter the string:")
  list_words=str.split()
  print(length(list_words))

main()

Enter the string:THE king OF the JUNGLE is LION
['THE', 'OF', 'JUNGLE', 'LION']

In [12]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(a,b,n):
  if n==0:
    return []
  elif n==1:
    return [a]
  else:
    return [a]+fibonacci(b,a+b,n-1)

def main():
  a=0
  b=1
  n=int(input("Enter the number of terms:"))
  print(fibonacci(a,b,n))

main()

Enter the number of terms:5
[0, 1, 1, 2, 3]

In [13]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
def square(n):
  return n*n

def main():
  list_num=[1,2,3,4,5,6,7,8,9,10]
  dict_square={i:square(i) for i in list_num}
  print(dict_square)

main()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [14]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
def main():
  keys=[1,2,3,4,5]
  values=['a','b','c','d','e']
  dict_new={keys[i]:values[i] for i in range(len(keys))}
  print(dict_new)

main()

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [16]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
def cube(n):
  return n*n*n

def main():
  list_num=[1,2,3,4,5]
  dict_square={i:square(i) for i in list_num}
  print(dict_square)

main()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`